body{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-image: url(img/milky-way-2695569__480.jpg);
}
p{
    color: White;
    
}
.obertka{
    display: flex;
    flex-direction: row;
}
.galaxy p{
    font-size: 25px ;
    margin-right: 1220px;
    margin-left: 10px;
}
.menu p{
    font-size: 15px;
    margin-right: 15px;
}
.menu{
    display: flex;
    flex-direction: row;
}
.main p{
   font-size:30px;
}
.main{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

